:root {
  --color-lighter: rgb(223, 220, 217);
  --color-light: rgb(206, 194, 172);
  --color-dark: rgb(55, 53, 35);
  --color-darkest: rgb(37, 35, 20);
  --color-highlight: rgb(210, 160, 83);
  --color-offset-1: rgb(117, 153, 187);
  --color-offset-2: rgb(163, 88, 60);
}

html,
body,
container-all {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  color: var(--color-lighter);
}

.container-all {
  display: flex;
  flex: 2;
  gap: 2rem;
  margin: 3rem; /* important */
  padding: 1.7rem 1.5rem;
  min-width: 600px;
  background-color: var(--color-darkest);
  border-radius: 2.5rem;
}

.container-nav {
  width: 8rem;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-link {
  list-style-type: none;
}

.container-dash {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.container-left {
  width: 60%;
}

.container-right {
  width: 40%;
}
